.sectionContainer{
    background-color: rgba(172, 172, 172, 0.781);
    border-radius: 60px;
}

.sectionProblematica{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: right;
    width: 900px;
    margin: 5% 2%;
    margin-left: auto;
    border-radius: 10px;
}

.tituloSeccionProblematica{
    font-size: 30px;
    margin-bottom: 10px;
}

.text{
    font-size: 20px;
}
