.header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: rgb(32, 32, 32);
}

.img-logo {
    width: 100px;
    border-radius: 70px;
}

.menu-icon{
    opacity: 0;
}

@media (max-width: 1400px) {

    .menu-icon{
        color: white;
        opacity: 1;
        display: flex;
        cursor: pointer;
        font-size: 25px;
    }
}