/* el div contenedor siempre vas a tener que ponerle un alto y ancho fijo */


.marco { 
    position: relative;
    width: 240px;
    height: 500px;
    border-radius: 30px;
    overflow: hidden;
}
/* siempre tiene que ocupar el 100% de w y h, ademas tener position absolute */

.marcoImg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10000;
}

.imagen {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}