.divPadre {
    height: 80vh;
}

.marco {
    position: relative;
    height: 500px;
    width: 240px;
    border-radius: 1.5rem;
    overflow: hidden;
}

.marcoImg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.marco .cropperCropBox {
    display: none;
}

.imagenConBorde {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagenConBorde1 {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1000000;
}

.imagen1 {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.contenedorImgs {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
}

.parteAbajo {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100%;
}

.containerUpload {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 50px;
}

.container {
    margin-bottom: 20px;
}

.containerBotones {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.containerEditar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 10%;
    top: 40%;
}

.button {
    font-weight: bold;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 1.1em;
    background-color: #212121;
    color: white;
    padding: 1em 2em;
    transition: box-shadow ease-in-out 0.3s,
        background-color ease-in-out 0.1s,
        letter-spacing ease-in-out 0.1s,
        transform ease-in-out 0.1s;
    box-shadow: 5px 5px 5px #1c1c1c,
        -5px -5px 5px #262626;
    cursor: pointer;
}


.button:hover {
    box-shadow: var(--hover-shadows);
}

.button:active {
    box-shadow: var(--hover-shadows),
        var(--accent) 0px 0px 30px 5px;
    background-color: var(--accent);
    transform: scale(0.95);
}

.btn {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@media (max-width: 1050px) {
    .containerEditar {
        .button {
            font-size: 1.2vw;
            /* Adjust font size as needed for smaller screens */
            padding: 1vh 1.5vw;
            /* Adjust padding as needed for smaller screens */
        }
    }
}

@media (max-width: 800px) {
    .marcoImg {
        left: 0;
        /* La imagen del celular se moverá a la izquierda */
    }

    .containerEditar {
        position: absolute;
        top: 35%;
    }

    .button {
        width: 100%;
        /* Los botones de edición ocuparán todo el ancho disponible */
        margin-bottom: 10px;
        /* Agregar un margen entre los botones */
    }
}


@media (max-width: 600px) {
    .divContainer {
        height: 100vh;
    }

    .marco {
        position: absolute;
        left: 0;
    }

    .button {
        width: 85px;
        display: block;
        height: 45px;
    }

    .containerBotones {
        position: absolute;
        top: 70%;
        left: 20%;
    }

    .containerUpload{
        position: absolute;
        top: 85%;
        left: 20%;
    }

    .containerEditar {
        top: 25%;
    }

    .containerEditar .button {
        font-size: 1.9vw;
    }
}

@media (max-width: 370px) {
    .containerBotones {
        position: absolute;
        top: 90%;
        left: 20%;
    }

    .containerUpload {
        position: absolute;
        top: 95%;
        left: 20%;
    }
}