.prods {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Mostrar 4 productos por fila en pantallas grandes */
    gap: 20px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.div {
    display: flex;
    gap: 30px;
}

.ul {
    display: flex;
    list-style: none;
}

.a {
    color: white;
    transition: all .3s ease;
    border: none;
    padding: 15px;
    border-radius: 30px;
    background-color: blueviolet;
}

.a:hover {
    color: rgb(0, 0, 0);
}

.icon {
    cursor: pointer;
}

@media (max-width: 1080px) {
    .prods {
        grid-template-columns: 2fr;
    }
}

@media (max-width: 900px) {
    .prods {
        grid-template-columns: 1fr;
    }
}