.divPadre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.section h1 {
    margin-bottom: 20px;
}

@media (max-width: 900px) {
    .divPadre {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2vw;
    }

    .section h1 {
        margin-bottom: 2vw;
    }
}