.prods{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 40px;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div{
    display: flex;
    gap: 30px;
}

.ul{
    display: flex;
    list-style: none;
}

.a{
    color: white;
    transition: all .3s ease;
    border: none;
    padding: 15px;
    border-radius: 30px;
    background-color: blueviolet;
}

.a:hover{
    color: rgb(0, 0, 0);
}

.icon{
    cursor: pointer;
}

@media (max-width: 900px) {
    .divPadre {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2vw;
    }

    .section h1 {
        margin-bottom: 2vw;
    }
}