@font-face {
  font-family: 'RussoOne';
  src: url(./Fonts/RussoOne-Regular.ttf);
}

html,
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'RussoOne', sans-serif;
  font-weight:500;
}

body{
  background-color: rgb(32, 32, 32);
  color: rgb(223, 223, 223);
  width: 100%;
}

.wpp{
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border: 3px solid white;
  padding: 10px;
  border-radius: 100px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.wpp:hover{
  transition: all 0.5s ease-in-out;
  animation: bounce 1.6s infinite;
}

@keyframes bounce{
  0%, 20%, 50%, 80%, 100%{
    transform: translateY(0);
  }
  40%{
    transform: translateY(-5px);
  }
  60%{
    transform: translateY(-5px);
  }
}