.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    border: none;
    color: white;
    font-weight: 400;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    border-radius: 10px;
}

.btn::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 20px;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
}

.btn:hover::before {
    transition-duration: .3s;
    transform: translate(100%, -50%);
    border-radius: 20px;
}

.btn:active {
    transform: translate(5px, 5px);
    transition-duration: .3s;
}