.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    background-color: rgb(168, 168, 168);
}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}

.image{
    width: 250px;
    border-radius: 40px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}