.divContenedor {
    position: absolute;
    top: 50%;
    left: 2%;
    color: rgb(238, 238, 238);
    z-index: 999;
}

.divContenedor h1 {
    font-size: 50px;
}

.divContenedor h2 {
    font-size: 30px;
}

@media (max-width: 900px) {
    .componentContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2vw;
    }

    .image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img {
        width: 99.1vw;
    }

    .divContenedor {
        position: absolute;
        top: 45%;
        left: 2%;
        color: rgb(238, 238, 238);
        z-index: 999;
    }

    .divContenedor h1 {
        font-size: 4vw;
    }

    .divContenedor h2 {
        font-size: 2.4vw;
    }
}

@media (max-width: 600px){
    .divContenedor h1{
        font-size: 10vw;
        margin: 0px 30px;
    }

    .divContenedor h2{
        font-size: 5vw;
        margin: 0px 30px;
    }
}