.divContenedor{
    position: absolute;
    top: 50%;
    left: 5%;
    color: rgb(238, 238, 238);
    z-index: 1000;
}

.divContenedor h1{
    font-size: 50px;
}

.divContenedor h2{
    font-size: 30px;
}