.sectionContenedor{
    background-color: rgba(172, 172, 172, 0.781);
    border-radius: 60px;
}

.solucionContenedor{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    width: 1100px;
    margin: 5% 2%;
    border-radius: 10px;
}

.ul{
    list-style: none;
    font-size: 20px;
}

.tituloSeccionSolucion{
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: -160px;
}

.comoFunciona{
    margin: 20px 0px;
}
