.containerSeccionMarcas{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.containerSection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
}

.containerImg img{
    height: 200px;
}